@font-face {
  font-family: 'Battambang'; /* Name to use in CSS */
  src: url('../fonts/Battambang/Battambang-Regular.ttf');
}
@font-face {
    font-family: 'Koulen';
    src: url('../fonts/Koulen/Koulen-Regular.ttf');
}
body{
    font-family: 'battambang' , sans-serif;
    font-display: auto;
    color: rgb(28, 141, 207);
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6:hover{
    font-family: Koulen, sans-serif;
    color: rgb(28, 141, 207);
}
a.nav-link:hover,
a.nav-link.active:hover{
    font-family: "Koulen" sans-serif;
    font-size: 1.5rem;
    color: rgb(28, 141, 207);
}
.card p {
  flex-grow: 1;   /* ⭐ makes text area expand equally */
}
.card-link {
  text-decoration: none;   /* remove underline */
  color: inherit;          /* keep text color */
  display: block;
}
.read-more {
  display: inline-block;
  margin-top: auto;              /* push button to bottom */
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #1e6fd9;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.read-more:hover {
  background-color: #144fa5;
  transform: translateY(-2px);
}

